
<h3>Employee Details</h3>
<div> 
  <div>
  <label> <b> Id: </b></label> {{ employee.id }}
</div>

  <div>
    <label> <b> Name: </b></label> {{ employee.name }}
  </div>
  <div>
    <label> <b> Location: </b></label> {{ employee.location }}
  </div>
  <div>
    <label> <b> Email Id: </b></label> {{ employee.emailId }}
  </div>
  <div>
    <label> <b> Mobile: </b></label> {{ employee.mobile }}
  </div>
  <div>
    <button (click)="goBack()" class="btn btn-primary">Back</button>
  </div>
</div>



